 /* #Primary style
 ================================================== */
 .section-banner {
    position: absolute;
    width: 70%;
    margin-left: 15%;
    top: 60%;
    transform: translateY(-50%);
}
 .hero-section {
     position: relative;
     width: 100%;
     height: 100vh;
     background-image: url('https://assets.codepen.io/1462889/photo.jpeg');
     background-size: cover;
     background-position: center;
 }
 .hero-section h1{
     color: #fff;
     font-size: 8vw;
     line-height: 1;
     font-weight: 900;
 }
 .hero-section .dancing{
     letter-spacing: 1px;
     color: #ffeba7;
     font-size: 25px;
     line-height: 1;
     font-weight: 700;
     letter-spacing: 3px;
     text-transform: uppercase;
     transform: translateY(-135px) rotate(-45deg);
     z-index: 2;
 }
 .hero-section .dancing span{
     padding: 8px 15px;
     padding-right: 10px;
     display: inline-block;
     border-radius: 5px;
     background-color: #1026708e;
 }
 .hero-section p{
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    color: #ffeba7;
}
.hero-section p span{
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.contact-text {
   position: absolute;
   font-size: 60px;
   line-height: 1;
   opacity: 0.5;
   font-weight: 700;
   color: #ffeba7;
   letter-spacing: 2px;
   top: 10%;
   right: 20px;
   cursor: pointer;
   -webkit-writing-mode: vertical-lr;
   writing-mode: vertical-lr;
   -webkit-transition: all 200ms linear;
   transition: all 200ms linear;
}
.about-text {
   position: absolute;
   font-size: 50px;
   line-height: 1;
   opacity: 0.5;
   font-weight: 700;
   color: #ffeba7;
   letter-spacing: 2px;
   top: 63%;
   left: 20px;
   cursor: pointer;
   -webkit-writing-mode: vertical-lr;
   writing-mode: vertical-lr;
   -webkit-transition: all 200ms linear;
   transition: all 200ms linear;
}
.about-text:hover {
   opacity: 1;

} .work-text {
   font-size: 50px;
   line-height: 1;
   opacity: 0.5;
   font-weight: 700;
   color: #ffeba7;
   letter-spacing: 2px;
   cursor: pointer;
}
.work-text:hover {
   opacity: 1;
}
 @media screen and (max-width: 580px){
     .hero-section .dancing{
         font-size: 18px;
     }
     .section-banner{
        margin-left: 25%;
    }
    .nature hover-target{
        margin-left: 0%;
    }
 }


 @media (max-width: 1200px) {
     .hero-section .dancing{
         font-size: 15px;
         transform: translateY(-80px) rotate(-45deg);
     }
 }
 
 @media (max-width: 967px) {
     .hero-section h1{
         font-size: 11vw;
     }
     .hero-section p{
         font-size: 18px;
     }
     .hero-section p span{
         margin-left: 10px;
         margin-right: 10px;
     }
     .nature-section h3 {
         font-size: 13vw;
     }
 }
